/* with creative scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(73, 51, 199);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 113, 14);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.fixedNav {
    position: fixed;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: #fd602c;
    padding: 0.5% 1%;
    z-index: 2000;
}

ul {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none !important;
}

button:focus {
    outline: none;
}

.similarbut {
    width: 30%;
    padding: 1.5% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fd602c;
    transition: 0.2s ease;
    border: 1px solid #fd602c;
    border-radius: 125px;
}

.similarbut:hover {
    background-color: #000;
    border: 1px solid black;
}

.bordered {
    width: 3%;
    border-bottom: 2px solid black;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 2%;
}

header {
    padding-bottom: 0;
    position: relative;
    z-index: 111;
}

header .loginpan {
    color: #828282;
    padding: 0%;
    border-bottom: 1px solid rgb(230, 230, 230)
}

header .contacts p {
    display: inline-block;
    padding: 3% 0%;
    color: #828282;
    margin: 0;
}

header .loginpan p:nth-child(2) {
    margin-left: 3%;
}

header .login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .login p {
    display: inline-block;
    margin: 3% 0%;
    color: #828282;
    border-right: 1px solid #828282;
    padding-right: 1.5%;
    transition: color 0.3s ease;
    cursor: pointer;
}

header .login p:nth-child(2) {
    margin-left: 1%;
}

header .login i {
    margin-left: 2%;
    color: #828282;
    transition: color 0.3s ease;
    cursor: pointer;
}

header .login p:hover {
    color: black;
}

header .login i:hover {
    color: black;
}

nav {
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
}

nav .logo img {
    padding: 5% 0%;
}

nav .refpages {
    height: 100%;
}

nav .pages {
    padding: 0;
    margin: 0;
}

header .refpages .pages li {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 10%;
    height: 100%;
    position: relative;
}

header .refpages .pages li a {
    display: block;
    padding: 23% 15%;
    color: #84848d;
    font-weight: normal;
}

header .refpages .pages li .hovered {
    position: absolute;
    margin: 0%;
    padding: 0;
    width: 200%;
    height: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    display: none;
    z-index: 100;
}

header .refpages .pages li .hovered li {
    width: 100%;
    height: 100%;
    color: #84848d;
    background-color: rgb(243, 243, 243);
    transition: color 0.2s ease
}

header .refpages .pages li:hover .hovered {
    display: block;
    cursor: pointer;
    animation-name: opacityAn;
    animation: opacityAn 1s linear forwards;
}

header .refpages .pages li .hovered li:hover {
    color: black;
}

@keyframes opacityAn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* HEADER FINISHES HERE */

.intro {
    background: url("http://codelayers.net/templates/hasta/corporate/fullwidth/images/header-img.jpg") no-repeat center top;
    height: 35vh;
    background-size: cover;
    position: relative;
    z-index: -1;
    margin-bottom: 5%;
}

.intro::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.intro .writings {
    z-index: 50;
    padding-top: 5%;
    color: white;
    text-align: center;
}

.intro .writings p {
    font-size: 20px;
}




main{
    width: 65%;
    float: left;
}




.collapsed{
    padding: 2% 5%;
}

.collapsed .collap .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 0%
}

.collapsed .collap .active, .collapsible:hover {
    color: #fd602c;
}
.collapsed .collap .content {
    background-color: transparent;
    padding: 3% 0% 0% 2%;
    color: #828282;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.collapsed .collap .content .all{
    border:1px solid lightgrey;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-55%);
    padding: 1% 4%;
    margin-bottom: 5%
}

.collapsed .collap .collapsible::before {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

.collapsed .collap .active::before {
    content: "\2796";
}
.collapsed .collap .content i{
    color: #fd602c;
    margin-right: 2%
}











/* ASIDE */

aside{
    width: 35%;
    padding: 2% 5% 8% 0%;
    float: left;
}
aside .categories{
    padding-bottom: 5%
}
aside .categories ul{
    padding-left: 0;
}
aside .categories ul li a{
    padding-bottom: 3%;
    padding-top: 2%;    
    display: block;
    color: #828282;
    cursor: pointer;
    border-bottom: 1px solid lightgrey;
    transition: 0.2s ease
}
aside .categories ul li a:hover{
    color: #fd602c !important
}
aside .type{
    position: relative;
}
aside .search input{
    margin-top: 5%;
    position: relative;
    width: 70%;
    border: 1px solid lightgrey;
    padding-left: 2%; 
    height: 35px
}
aside .search button{
    position: absolute;
    top: 35%;
    background-color: white;
    color: rgb(112, 111, 111);
    border: 1px solid lightgrey;
    left: 70%;
    height: 35px;
}
aside .posts{
    padding: 3% 0%
}
aside .posts .post h6{
    transition: 0.2s ease;
    cursor: pointer;
}
aside .posts .post:hover h6{
    color: #fd602c
}


aside .tags .tagbut{
    display: inline-block;
    padding: 2% 5%;
    color: #828282;
    transition: 0.4s ease !important;
    margin-top: 2%
}
aside .tags .tagbut:hover{
    background-color: #fd602c !important;
    border: 1px solid #fd602c !important;
    color: white
}
.works .col-md-3{
    margin-top: 2%;
    padding-right: 0%;
}
.works .col-md-3 img{
    width: 100%
}







/* FOOTER */


footer {
    position: relative;
    background-color: #101010;
    padding-top: 5%;
    width: 100%
}

footer .allcont {
    color: #727272;
    font-size: 15px;
}

footer .allcont .heading {
    padding: 5% 0% 15% 0%;
}

footer .linked .heading h4 {
    color: white;
}

footer .linked .heading .borderedleft {
    border: 1.5px solid white;
    width: 10%
}

footer .linked .images .imag .circleimage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

footer .linked .images .writings h6 a {
    color: white;
    font-size: 17px;
    transition: 0.2s ease
}

footer .linked .images .writings h6 a:hover {
    color: #727272
}

footer .linked .images .writings p {
    margin-bottom: 5px;
    color: #727272
}

footer .linked .images .an-image:nth-child(1) {
    padding-bottom: 10%;
}

footer .linked .images .an-image:nth-child(2) {
    padding-top: 10%;
}

footer .linked .images .an-image.bord {
    border-bottom: 1px solid lightgrey;
}

footer .allbtns {
    padding: 0% 5%;
}

footer .allbtns button:nth-child(even) {
    margin-left: 2%;
}

footer .allbtns .marg {
    margin-top: 5%;
}

footer .allbtns button {
    background-color: transparent;
    color: #727272;
    border: 1px solid #727272;
    padding: 2.5% 3%;
    transition: 0.3s ease
}

footer .allbtns button:hover {
    color: #fd602c;
    border: 1px solid #fd602c
}

footer .allbtns .actbut {
    color: #fd602c;
    border: 1px solid #fd602c
}

footer .uslinks p a {
    color: #727272;
    font-size: 15px;
    transition: 0.2s ease;
}

footer .uslinks p i {
    padding-right: 20px;
    cursor: pointer;
    font-size: 15px;
    transition: 0s
}

footer .uslinks p:hover a {
    color: #f1f1f1
}

footer {
    overflow: hidden;
}

footer .bottom {
    width: 1005;
    height: 100%;
    background-color: #1a1a1a;
    padding-bottom: 5%;
    padding-top: 2%
}

footer .bottom .iconUl ul {
    padding-top: 5%;
    list-style-type: none;
    color: white;
    margin-left: 50%;
    transform: translateX(-40%)
}

footer .bottom .iconUl ul li .circleicon {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 40px;
    background-color: white;
    color: #fd602c;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
}

footer .bottom .iconUl ul li .circleicon:hover {
    background-color: #fd602c;
    color: white;
}
@media screen and (max-width:768px) {
    header .contacts {
        display: flex;
        justify-content: center;
    }
    header .login {
        justify-content: center
    }
}

@media screen and (max-width:1200px) {
    .pages {
        display:flex;
        font-size: 11px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    header nav .logo {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:768px){
    footer .bottom ul{
        display: flex;
        flex-direction: column;
        justify-content: center
    }
}

@media screen and (max-width:768px){

}





@media screen and (max-width:768px){
    aside{
        width: 100%;
        padding-left: 5%;
    }
    main{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .works .col-4{
        margin-top: 2%
    }
}
